

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: var(--bg-color); /* Use variable for background */
    box-sizing: border-box; /* Prevent extra space */
    overflow: hidden; /* Prevent scroll */
}

/* Form */
.form {
    background-color: var(--form-bg-color); /* Use variable for form background */
    padding: 2.5rem;
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: var(--box-shadow-lg); /* Use variable for box shadow */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 24rem; /* max-w-sm */
    box-sizing: border-box; /* Make sure padding doesn't overflow */
}


/* Input fields */
.input {
    margin-top: 0.25rem;
    width: 100%;
    padding: 0.5rem 0.75rem;
    background-color: var(--bg-color); /* Use variable for background */
    border: 1px solid var(--form-border-color); /* Use variable for border color */
    border-radius: 0.375rem; /* rounded-md */
    box-shadow: var(--box-shadow-sm); /* Use variable for box shadow */
    font-family: var(--font-family);
    font-size: 0.875rem; /* sm:text-sm */
    box-sizing: border-box; /* Ensure no overflow */
}
.input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.5);
}

/* Buttons */
.button {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 1rem; /* py-2 px-4 */
    background-color: var(--primary-color); /* Use variable for background */
    color: var(--button-text-color); /* Use variable for text color */
    border: none;
    border-radius: 0.375rem; /* rounded-md */
    font-size: var(--button-font-size); /* Use variable for button font size */
    cursor: pointer;
    box-shadow: var(--box-shadow-sm); /* Use variable for box shadow */
    transition: background-color 0.3s ease;
    margin-top: 1rem; /* Add space above the button */
}
.button:hover {
    background-color: var(--primary-color-hover); /* Use variable for hover */
    color: var(--button-hover-text-color); /* Use variable for hover text color */
}

/* Input Group */
.input-group {
    display: flex;
    flex-direction: column; /* Stack label above input */
    margin-bottom: 1rem; /* Space between input groups */
}

.label {
    margin-bottom: 0.25rem; /* Space between label and input */
    font-weight: bold; /* Optional: make the label bold */
}


